.test {
   color: #3d4666;
   color: #009455;
   color: #fbfcfd;
   color: #acb1c1;
   color: #009455;
   color: #d5e3a6;
   color: #252122;
   color: #999dec;
   color: #e34729;
   background: #fbfcfd;
}
